######################
# Directories
######################
/build/
/bin/
target/
 
######################
# OS Files
######################
.DS_Store

######################
# Eclipse
######################
.project
.metadata
.classpath
.settings/

######################
# IntelliJ
######################
.idea
*.iml

# Implement PUT, DELETE
# Java Docs for apis
    ## setup pom.xml, settings.xml
    ## setup PGP sing/private/public details
    ## check mvn commands for release
# Error code simulator handling
# Readme file with java DSL, JSON DSL
# Regex in the Request Handling
# Headers strings with java DSL
# Readme with POST eg
