######################
# Directories
######################
/build/
/bin/
target/
 
######################
# OS Files
######################
.DS_Store

######################
# Eclipse
######################
.project
.metadata
.classpath
.settings/

######################
# IntelliJ
######################
.idea
*.iml

# RestResponse builder
# Compile with Java 6/Java5 in this version.
# JSON Regex and Smart expression like $RANDOM_INT, $RANDOM_LONG
# Readme for: JSON files in another project
# Api, RestApi builder withMethod()
# JSON and POJO based simulation
# Maven plugin
# Annotation based Simulation
# Implement PUT, DELETE
# Error code simulator handling
# Readme file with java DSL, JSON DSL
# Regex in the Request Handling
# Headers strings with java DSL
# Readme with POST eg
